[submodule "external/amrex"]
	path = external/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
